__pycache__/
*.py[cod]
*.pyo

.pytest_cache/
.mypy_cache/
.ruff_cache/

output/
outputs/
logs/
tb/
checkpoints/
slurm_logs/
abs/
abs2/
video/

data/
datasets/
downloads/

*.log
*.out
*.err
.upload_file_list.txt
